<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="multipart/form-data; charset=utf-8" />
    <title>县级管理员新增中医常识</title>
    <link rel="stylesheet" th:href="@{/component/bootstrap-3.3.7/css/bootstrap.min.css}"
          href="../../static/component/bootstrap-3.3.7/css/bootstrap.min.css">
    <script th:src="@{/component/js/jquery-2.2.4.js}"
            src="../../static/component/js/jquery-2.2.4.js"></script>
    <script th:src="@{/component/bootstrap-3.3.7/js/bootstrap.min.js}"
            src="../../static/component/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script th:src="@{/component/inspinia/js/plugins/sweetalert/sweetalert.min.js}"
            src="../../static/component/inspinia/js/plugins/sweetalert/sweetalert.min.js"></script>
    <link rel="stylesheet" th:href="@{/component/inspinia/css/plugins/sweetalert/sweetalert.css}"
          href="../../static/component/inspinia/css/plugins/sweetalert/sweetalert.css">

    <!--wangEditor.min.js文本编辑器-->
    <script th:src="@{/component/wangEditor/wangEditor.min.js}"
            src="../../static/component/wangEditor/wangEditor.min.js"></script>

    <link rel="stylesheet"  th:href="@{/style/workprocess/addTCMCulture.css}"
          href="../../static/style/workprocess/addTCMCulture.css">
    <style>
        /*清除边框*/
        *{
            margin: 0;
            padding: 0;
        }
        /*更改默认值*/
        html,body{
            width: 100%;
            height: 100%;
        }
        input{
            width: 240px;
            height: 32px;
        }
        .row {
            margin-top: 13px;
        }
        .title{
            height: 100%;
            text-align: right;
        }
        .img{
            height: 202px;
            width: 202px;
            text-align: center;
            line-height: 202px;
            color: red;
        }
    </style>
    <script>
        $(function () {
            // 图片上传预览功能
            $("#pic").click(function () {
                $("#upload").click();//隐藏了input:file样式后，点击头像就可以本地上传
                $("#upload").on("change",function(){
                    var objUrl = getObjectURL(this.files[0]) ;//获取图片的路径，该路径不是图片在本地的路径
                    if (objUrl) {
                        $("#pic").attr("src", objUrl) ;//将图片路径存入src中，显示出图片
                    }
                });
            });

            //建立一個可存取到该file的url
            function getObjectURL(file) {
                var url = null ;
                // 下面函数执行的效果是一样的，只是需要针对不同的浏览器执行不同的 js 函数而已
                if (window.createObjectURL!=undefined) { // basic
                    url = window.createObjectURL(file) ;
                } else if (window.URL!=undefined) { // mozilla(firefox)
                    url = window.URL.createObjectURL(file) ;
                } else if (window.webkitURL!=undefined) { // webkit or chrome
                    url = window.webkitURL.createObjectURL(file) ;
                }
                return url ;
            };

            //加载富文本框
            const E = window.wangEditor;
            const editor = new E("#editor");
            // 或者 const editor = new E(document.getElementById('div1'))
            // 设置编辑区域高度为 500px
            editor.config.height = 400;

            // 配置服务器端地址
            editor.config.uploadImgServer = '/tbNatmehaHotspot/upload';
            // 将图片大小限制为 3M
            editor.config.uploadImgMaxSize = 3 * 1024 * 1024;
            // 自定义上传参数
            editor.config.uploadFileName = 'imgFile';
            editor.config.uploadImgTimeout = 15 * 1000;
            // editor.config.uploadImgShowBase64 = true; // 使用 base64 保存图片
            // 上传图片的回调函数
            editor.config.uploadImgHooks = {
                // 图片上传并返回了结果，想要自己把图片插入到编辑器中
                // 例如服务器端返回的不是 { errno: 0, data: [...] } 这种格式，可使用 customInsert
                customInsert: function(insertImgFn, result) {
                    // result 即服务端返回的接口
                    console.log('customInsert:', result.url);
                    // insertImgFn 可把图片插入到编辑器，传入图片 src ，执行函数即可
                    insertImgFn(result.url);
                }
            };

            var harvesting='';
            // 配置 onchange 回调函数
            editor.config.onchange = function (newHtml) {
                harvesting = newHtml;
                // console.log(hotspotContent);
            };

            var taste='';
            // 配置 onchange 回调函数
            editor.config.onchange = function (newHtml) {
                taste = newHtml;
                // console.log(hotspotContent);
            };

            var merTropism='';
            // 配置 onchange 回调函数
            editor.config.onchange = function (newHtml) {
                merTropism = newHtml;
                // console.log(hotspotContent);
            };

            var governance='';
            // 配置 onchange 回调函数
            editor.config.onchange = function (newHtml) {
                governance = newHtml;
                // console.log(hotspotContent);
            };

            var usage='';
            // 配置 onchange 回调函数
            editor.config.onchange = function (newHtml) {
                usage = newHtml;
                // console.log(hotspotContent);
            };
        });
    </script>
</head>

<body>
<div class="container-fluid main">
    <!--头部-->
    <div class="row header">
        <div class="col-md-3 left">“智慧”国医堂惠民信息系统</div>
        <div class="col-md-4 col-md-offset-5 right" style="height: 85px;">
            <!--搜索框-->
            <div class="search">
                <div style="height: 100%;width: 27px;">
                    <img src="../../static/images/medicne-menterprise-college/u759.svg" style="margin-top: 5px;margin-left: 6px">
                </div>
                <div style="height: 100%;width: 213px">
                    <input type="text"  placeholder="请输入关键字搜索" style="height: 100%;width: 100%">
                </div>
            </div>
            <!--头像-->
            <div style="height: 24px;width: 24px;margin-top: 30.5px;margin-left: 34px;">
                <img src="../../images/medicne-menterprise-college/u762.jpg" height="100%" width="100%" >
            </div>
            <!--用户名-->
            <div style="color: white;margin-left: 10px;height: 100%"><p style="line-height: 85px">momo.zxy</p> </div>
        </div>
    </div>

    <!--主体-->
    <div class="row" style="height: 500px;margin-top: 25px">
        <!--右边主体增加内容-->
        <div class="container">
            <div class="col-md-2 column"></div>
            <div class="col-md-10 column">
                <form action="/tbNatmehaChineseMedicine/countryInsertTCMCommon" method="post" id="myForm" enctype="multipart/form-data">
                    <div class="row" style="height: 32px;">
                        <div class="col-md-2" style="line-height: 32px;">中药材名称:</div>
                        <div >
                            <input type="text"  name="name" placeholder="请输入"/>
                        </div>
                    </div>
                    <div class="row" style="height: 32px;">
                        <div class="col-md-2" style="line-height: 32px;">别名:</div>
                        <div >
                            <input type="text"  name="alias" placeholder="请输入"/>
                        </div>
                    </div>
                    <div class="row" style="height: 32px;">
                        <div class="col-md-2" style="line-height: 32px;">功效分类:</div>
                        <div  >
                            <select name="classification">
                                <option value="0">解表药</option>
                                <option value="1">清火药</option>
                            </select>
                        </div>
                    </div>

                    <div class="row img_show img_show1" style="height: 202px">
                        <div class="col-md-2 "><p>药材图片:</p></div>
                        <div class="col-md-4 img" style="padding: 0px">
                            <img src=""  id="pic" width="100%" height="100%" >
                        </div>
                        <div class="col-md-2">
                            <input type="file"  name="uploadImg" id="upload" style="display: none">
                        </div>
                    </div>

                    <!-- 采制 -->
                    <div class="row" style="height: 32px;">
                        <div class="col-md-2" style="line-height: 32px;">采制:</div>
                        <div >
                            <textarea name="harvesting" cols="90" rows="5" placeholder="请输入"> </textarea>
                        </div>
                    </div>

                    <!-- 性味 -->
                    <div class="row" style="height: 32px;margin-top: 80px">
                        <div class="col-md-2" style="line-height: 32px;">性味:</div>
                        <div >
                            <textarea name="taste" cols="90" rows="5" placeholder="请输入"> </textarea>
                        </div>
                    </div>

                    <!-- 归经 -->
                    <div class="row" style="height: 32px;margin-top: 80px">
                        <div class="col-md-2" style="line-height: 32px;">归经:</div>
                        <div >
                            <textarea name="merTropism" cols="90" rows="5" placeholder="请输入"> </textarea>
                        </div>
                    </div>

                    <!-- 功效主治 -->
                    <div class="row" style="height: 32px;margin-top: 80px">
                        <div class="col-md-2" style="line-height: 32px;">功效主治:</div>
                        <div >
                            <textarea name="governance" cols="90" rows="5" placeholder="请输入"> </textarea>
                        </div>
                    </div>

                    <!-- 用法用量 -->
                    <div class="row" style="height: 32px;margin-top: 80px">
                        <div class="col-md-2" style="line-height: 32px;">用法用量:</div>
                        <div >
                            <textarea name="usage" cols="90" rows="5" > </textarea>
                        </div>
                    </div>

                    <!-- 取消 保存 提交-->
                    <div class="row" style="height:35px;margin-top: 100px;margin-bottom: 10px">
                        <div class="col-md-1 col-md-offset-2">
                            <a href="javascript:history.go(-1)"
                               class="btn" data-backdrop="static"
                               style="border-color: crimson;height: 35px;width: 100px;background-color:white;color: #898981;">取消</a>
                        </div>
                        <div class="col-md-1 col-md-offset-1">
                            <button type="submit" class="save" name="save"  style="height: 35px;width: 100px;background-color: crimson;color: white;">保存
                            </button>
                        </div>
                        <div class="col-md-1 col-md-offset-1">
                            <button type="submit" style="height: 35px;width: 100px;background-color: crimson;color: white;" name="refer">提交
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>