<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="multipart/form-data; charset=utf-8" />
    <title>县级中药常识修改界面</title>
    <link rel="stylesheet" th:href="@{/component/bootstrap-3.3.7/css/bootstrap.min.css}"
          href="../../static/component/bootstrap-3.3.7/css/bootstrap.min.css">
    <script th:src="@{/component/js/jquery-2.2.4.js}"
            src="../../static/component/js/jquery-2.2.4.js"></script>
    <script th:src="@{/component/bootstrap-3.3.7/js/bootstrap.min.js}"
            src="../../static/component/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script th:src="@{/component/inspinia/js/plugins/sweetalert/sweetalert.min.js}"
            src="../../static/component/inspinia/js/plugins/sweetalert/sweetalert.min.js"></script>
    <link rel="stylesheet" th:href="@{/component/inspinia/css/plugins/sweetalert/sweetalert.css}"
          href="../../static/component/inspinia/css/plugins/sweetalert/sweetalert.css">

    <!--wangEditor.min.js文本编辑器-->
    <script th:src="@{/component/wangEditor/wangEditor.min.js}"
            src="../../static/component/wangEditor/wangEditor.min.js"></script>

    <link rel="stylesheet"  th:href="@{/style/workprocess/addTCMCulture.css}"
          href="../../static/style/workprocess/addTCMCulture.css">
    <style>
        /*清除边框*/
        *{
            margin: 0;
            padding: 0;
        }
        /*更改默认值*/
        html,body{
            width: 100%;
            height: 100%;
        }
        input{
            width: 240px;
            height: 32px;
        }
        .row {
            margin-top: 13px;
        }
        .title{
            height: 100%;
            text-align: right;
        }
        .img{
            height: 202px;
            width: 202px;
            text-align: center;
            line-height: 202px;
            color: red;
        }
    </style>
    <script>
        $(function () {
            // 图片上传预览功能
            $("#pic").click(function () {
                $("#upload").click();//隐藏了input:file样式后，点击头像就可以本地上传
                $("#upload").on("change",function(){
                    var objUrl = getObjectURL(this.files[0]) ;//获取图片的路径，该路径不是图片在本地的路径
                    if (objUrl) {
                        $("#pic").attr("src", objUrl) ;//将图片路径存入src中，显示出图片
                    }
                });
            });

            //建立一個可存取到该file的url
            function getObjectURL(file) {
                var url = null ;
                // 下面函数执行的效果是一样的，只是需要针对不同的浏览器执行不同的 js 函数而已
                if (window.createObjectURL!=undefined) { // basic
                    url = window.createObjectURL(file) ;
                } else if (window.URL!=undefined) { // mozilla(firefox)
                    url = window.URL.createObjectURL(file) ;
                } else if (window.webkitURL!=undefined) { // webkit or chrome
                    url = window.webkitURL.createObjectURL(file) ;
                }
                return url ;
            };

            $('#context').mouseover(function () {
                var $context = $('#context');
                $('#required').val($context.val());
            });

            $('#context1').mouseover(function () {
                var $context1 = $('#context1');
                $('#required1').val($context1.val());
            });

            $('#context2').mouseover(function () {
                var $context2 = $('#context2');
                $('#required2').val($context2.val());
            });

            $('#context3').mouseover(function () {
                var $context3 = $('#context3');
                $('#required3').val($context3.val());
            });

            $('#context4').mouseover(function () {
                var $context4 = $('#context4');
                $('#required4').val($context4.val());
            });
        });

    </script>
</head>

<body>
<div class="container-fluid main">
    <!--头部-->
    <div class="row header">
        <div class="col-md-3 left">“智慧”国医堂惠民信息系统</div>
        <div class="col-md-4 col-md-offset-5 right" style="height: 85px;">
            <!--搜索框-->
            <div class="search">
                <div style="height: 100%;width: 27px;">
                    <img src="../../static/images/medicne-menterprise-college/u759.svg" style="margin-top: 5px;margin-left: 6px">
                </div>
                <div style="height: 100%;width: 213px">
                    <input type="text"  placeholder="请输入关键字搜索" style="height: 100%;width: 100%">
                </div>
            </div>
            <!--头像-->
            <div style="height: 24px;width: 24px;margin-top: 30.5px;margin-left: 34px;">
                <img src="../../images/medicne-menterprise-college/u762.jpg" height="100%" width="100%" >
            </div>
            <!--用户名-->
            <div style="color: white;margin-left: 10px;height: 100%"><p style="line-height: 85px">momo.zxy</p> </div>
        </div>
    </div>

    <!--主体-->
    <div class="row" style="height: 500px;margin-top: 25px">
        <!--右边主体增加内容-->
        <div class="container">
            <div class="col-md-2 column"></div>
            <div class="col-md-10 column">
                <form  action="/tbNatmehaChineseMedicine/countryUpdateSave" method="post" id="myForm" enctype="multipart/form-data">
                    <input type="hidden" name="itemid" th:value="${tbNatmehaChineseMedicine.itemid}"/>
                    <input type="hidden" name="itemcode" th:value="${tbNatmehaChineseMedicine.itemcode}"/>
                    <input type="hidden" name="userCode" th:value="${tbNatmehaChineseMedicine.userCode}"/>

                    <div class="row" style="height: 32px;">
                        <div class="col-md-2" style="line-height: 32px;">修改人:</div>
                        <div >
                            <input type="text"  name="updater" placeholder="请输入"  />
                        </div>
                    </div>
                    <div class="row" style="height: 32px;">
                        <div class="col-md-2" style="line-height: 32px;">中药材名称:</div>
                        <div >
                            <input type="text"  name="name" placeholder="请输入" th:value="${tbNatmehaChineseMedicine.name}" />
                        </div>
                    </div>
                    <div class="row" style="height: 32px;">
                        <div class="col-md-2" style="line-height: 32px;">别名:</div>
                        <div >
                            <input type="text"  name="alias" placeholder="请输入" th:value="${tbNatmehaChineseMedicine.alias}" />
                        </div>
                    </div>
                    <div class="row" style="height: 32px;">
                        <div class="col-md-2" style="line-height: 32px;">功效分类:</div>
                        <div  >
                            <select name="classification">
                                <option value="0">解表药</option>
                                <option value="1">清火药</option>
                            </select>
                        </div>
                    </div>

                    <div class="row img_show img_show1" style="height: 202px">
                        <div class="col-md-2 "><p>药材图片:</p></div>
                        <div class="col-md-4 img" style="padding: 0px">
                            <img th:src="@{http://142.4.123.27:8081/{image}(image=(${tbCHNMedicineItem.tbNatmehaFile}==null?'':${tbCHNMedicineItem.tbNatmehaFile.fileName}))}"  id="pic" width="80px" height="80px">
                        </div>
                        <div class="col-md-2">
                            <input type="file"  name="uploadImg" id="upload" style="display: none" >
                        </div>
                    </div>

                    <!-- 采制 -->
                    <div class="row" style="height: 32px;">
                        <div class="col-md-2" style="line-height: 32px;">采制:</div>
                        <div >
                            <textarea id="context" cols="90" rows="5" th:utext="${tbNatmehaChineseMedicine.harvesting}" ></textarea>
                            <input id="required" type="hidden"  name="harvesting" >
                        </div>
                    </div>

                    <!-- 性味 -->
                    <div class="row" style="height: 32px;margin-top: 80px">
                        <div class="col-md-2" style="line-height: 32px;">性味:</div>
                        <div >
                            <textarea id="context1" cols="90" rows="5" th:utext="${tbNatmehaChineseMedicine.taste}" ></textarea>
                            <input id="required1" type="hidden"  name="taste" >
                        </div>
                    </div>

                    <!-- 归经 -->
                    <div class="row" style="height: 32px;margin-top: 80px">
                        <div class="col-md-2" style="line-height: 32px;">归经:</div>
                        <div >
                            <textarea id="context2" cols="90" rows="5" th:utext="${tbNatmehaChineseMedicine.merTropism}" ></textarea>
                            <input id="required2" type="hidden"  name="merTropism" >
                        </div>
                    </div>

                    <!-- 功效主治 -->
                    <div class="row" style="height: 32px;margin-top: 80px">
                        <div class="col-md-2" style="line-height: 32px;">功效主治:</div>
                        <div >
                            <textarea id="context3" cols="90" rows="5" th:utext="${tbNatmehaChineseMedicine.governance}" ></textarea>
                            <input id="required3" type="hidden"  name="governance" >
                        </div>
                    </div>

                    <!-- 用法用量 -->
                    <div class="row" style="height: 32px;margin-top: 80px">
                        <div class="col-md-2" style="line-height: 32px;">用法用量:</div>
                        <div >
                            <textarea id="context4" cols="90" rows="5" th:utext="${tbNatmehaChineseMedicine.usage}" ></textarea>
                            <input id="required4" type="hidden"  name="usage" >
                        </div>
                    </div>

                    <!-- 取消 保存 提交-->
                    <div class="row" style="height:35px;margin-top: 100px;margin-bottom: 10px">
                        <div class="col-md-1 col-md-offset-2">
                            <a href="javascript:history.go(-1)"
                               class="btn" data-backdrop="static"
                               style="border-color: crimson;height: 35px;width: 100px;background-color:white;color: #898981;">取消</a>
                        </div>
                        <div class="col-md-1 col-md-offset-1">
                            <button type="submit" class="save" name="save"  style="height: 35px;width: 100px;background-color: crimson;color: white;">保存
                            </button>
                        </div>
                       <!-- <div class="col-md-1 col-md-offset-1">
                            <button type="submit" style="height: 35px;width: 100px;background-color: crimson;color: white;" name="refer">提交
                            </button>
                        </div>-->
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>