<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>市级机构审核自我保健信息</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
    <link rel="stylesheet" th:href="@{/component/bootstrap-3.3.7/css/bootstrap.min.css}"
          href="../../static/component/bootstrap-3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"
          href="../../static/layui/css/modules/laydate/default/laydate.css"/>
    <link rel="stylesheet" th:href="@{/kindeditor/themes/default/default.css}"
          href="../../static/kindeditor/themes/default/default.css"/>
    <script th:src="@{/component/js/jquery-2.2.4.js}"
            src="../../static/component/js/jquery-2.2.4.js"></script>
    <script th:src="@{/component/bootstrap-3.3.7/js/bootstrap.min.js}"
            src="../../static/component/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script th:src="@{/layui/layui.js}"
            src="../../static/layui/layui.js"></script>
    <script th:src="@{/layer/layer.js}"
            src="../../static/layer/layer.js"></script>
    <!--文本编辑器-->
    <script charset="utf-8" th:src="@{/kindeditor/kindeditor-all.js}"
            src="../../static/kindeditor/kindeditor-all-min.js"></script>
    <script charset="utf-8" th:src="@{/kindeditor/lang/zh-CN.js}"
            src="../../static/kindeditor/lang/zh-CN.js"></script>
    <style>
        /*清除边框*/
        *{
            margin: 0;
            padding: 0;
        }
        /*更改默认值*/
        html,body{
            width: 100%;
            height: 100%;
        }
        input{
            width: 240px;
            height: 32px;
        }
        button{
            width: 102px;
            height: 31px;
            background-color:rgba(217, 0, 27, 1);
        }
        p,button{
            text-align: center;
        }
    </style>
    <script>
        layui.use('form',function () {
            //var form = layui.form;
            var passbtn = $('#passbtn');
            var nopassbtn = $('#nopassbtn');
            //弹出一个loading层
            passbtn.on('click', function () {
                var ii = layer.load();
                //此处用setTimeout演示ajax的回调
                setTimeout(function () {
                    layer.close(ii);
                },2000);
            });
            nopassbtn.on('click', function () {
                var ii = layer.load();
                //此处用setTimeout演示ajax的回调
                setTimeout(function () {
                    layer.close(ii);
                },2000);
            });
        });
    </script>
</head>
<body>
<div class="container">
    <div class="col-md-12 column">
        <form class="layui-form" action="/start/solar_municipal_updatecode" lay-filter="example" style="margin-top: 20px" method="post">
            <input type="text" name="itemid" th:value="${tbNatmehaHotspot.itemid}" hidden="hidden">
            <div class="layui-form-item">
                <label class="layui-form-label">标题</label>
                <div class="layui-input-block">
                    <input type="text" name="hotspotTitle"readonly="readonly" th:value="${tbNatmehaHotspot.hotspotTitle}" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input" style="width: 300px">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">来源</label>
                <div class="layui-input-block">
                    <input type="text" name="datasource" readonly="readonly" th:value="${tbNatmehaHotspot.hotspotTitle}" autocomplete="off" class="layui-input" style="width: 300px">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">作者</label>
                <div class="layui-input-block">
                    <input type="text" name="creater" readonly="readonly" th:value="${tbNatmehaHotspot.creater}" autocomplete="off" class="layui-input" style="width: 300px">
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">内容</label>
                <div class="layui-input-block" id="editor">
                    <textarea readonly="readonly" th:text="${tbNatmehaHotspot.hotspotContent}" class="layui-textarea" id="hotspotContent" name="hotspotContent" style="height: 300px"></textarea>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <p>
                        <button type="submit" name="reset" value="取消" class="layui-btn layui-btn-normal" id="LAY-component-form-setval">取消</button>
                        <button type="submit" id="passbtn" name="passbtn" value="通过" class="layui-btn layui-btn-normal">通过</button>
                        <button type="submit" id="nopassbtn" name="nopassbtn" value="不通过" class="layui-btn" lay-submit="" lay-filter="demo1">不通过</button>
                    </p>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    KindEditor.ready(function(K) {
        window.editor = K.create('#hotspotContent');
    });

</script>
</body>
</html>