<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanqiao.natmeha.mapper.TbNatmehaFileMapper">

    <resultMap id="BaseResultMap" type="com.lanqiao.natmeha.model.TbNatmehaFile">
            <id property="itemid" column="itemID" jdbcType="INTEGER"/>
            <id property="itemcode" column="itemCode" jdbcType="CHAR"/>
            <result property="dataCode" column="DATA_CODE" jdbcType="CHAR"/>
            <result property="uploader" column="UPLOADER" jdbcType="VARCHAR"/>
            <result property="uploaderCode" column="UPLOADER_CODE" jdbcType="CHAR"/>
            <result property="fileName" column="FILE_NAME" jdbcType="VARCHAR"/>
            <result property="fileType" column="FILE_TYPE" jdbcType="VARCHAR"/>
            <result property="fileSize" column="FILE_SIZE" jdbcType="DOUBLE"/>
            <result property="filePath" column="FILE_PATH" jdbcType="VARCHAR"/>
            <result property="itemcreateat" column="itemCreateAt" jdbcType="TIMESTAMP"/>
            <result property="orgCode" column="ORG_CODE" jdbcType="CHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        itemID,itemCode,DATA_CODE,
        UPLOADER,UPLOADER_CODE,FILE_NAME,
        FILE_TYPE,FILE_SIZE,FILE_PATH,
        itemCreateAt,ORG_CODE
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from tb_natmeha_file
        where  itemID = #{itemid,jdbcType=INTEGER} AND itemCode = #{itemcode,jdbcType=CHAR} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from tb_natmeha_file
        where  itemID = #{itemid,jdbcType=INTEGER} AND itemCode = #{itemcode,jdbcType=CHAR} 
    </delete>
    <insert id="insertFile">
        insert into tb_natmeha_file
        ( itemID,itemCode,DATA_CODE
        ,UPLOADER,UPLOADER_CODE,FILE_NAME
        ,FILE_TYPE,FILE_SIZE,FILE_PATH
        ,itemCreateAt,ORG_CODE)
        values (#{itemid,jdbcType=INTEGER},#{itemcode,jdbcType=CHAR},#{dataCode,jdbcType=CHAR}
        ,#{uploader,jdbcType=VARCHAR},#{uploaderCode,jdbcType=CHAR},#{fileName,jdbcType=VARCHAR}
        ,#{fileType,jdbcType=VARCHAR},#{fileSize,jdbcType=DOUBLE},#{filePath,jdbcType=VARCHAR}
        ,#{itemcreateat,jdbcType=TIMESTAMP},#{orgCode,jdbcType=CHAR})
    </insert>
    <insert id="insertSelective">
        insert into tb_natmeha_file
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="itemid != null">itemid,</if>
                <if test="itemcode != null">itemcode,</if>
                <if test="dataCode != null">dataCode,</if>
                <if test="uploader != null">uploader,</if>
                <if test="uploaderCode != null">uploaderCode,</if>
                <if test="fileName != null">fileName,</if>
                <if test="fileType != null">fileType,</if>
                <if test="fileSize != null">fileSize,</if>
                <if test="filePath != null">filePath,</if>
                <if test="itemcreateat != null">itemcreateat,</if>
                <if test="orgCode != null">orgCode,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="itemid != null">itemID = #{itemid,jdbcType=INTEGER},</if>
                <if test="itemcode != null">itemCode = #{itemcode,jdbcType=CHAR},</if>
                <if test="dataCode != null">DATA_CODE = #{dataCode,jdbcType=CHAR},</if>
                <if test="uploader != null">UPLOADER = #{uploader,jdbcType=VARCHAR},</if>
                <if test="uploaderCode != null">UPLOADER_CODE = #{uploaderCode,jdbcType=CHAR},</if>
                <if test="fileName != null">FILE_NAME = #{fileName,jdbcType=VARCHAR},</if>
                <if test="fileType != null">FILE_TYPE = #{fileType,jdbcType=VARCHAR},</if>
                <if test="fileSize != null">FILE_SIZE = #{fileSize,jdbcType=DOUBLE},</if>
                <if test="filePath != null">FILE_PATH = #{filePath,jdbcType=VARCHAR},</if>
                <if test="itemcreateat != null">itemCreateAt = #{itemcreateat,jdbcType=TIMESTAMP},</if>
                <if test="orgCode != null">ORG_CODE = #{orgCode,jdbcType=CHAR},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.lanqiao.natmeha.model.TbNatmehaFile">
        update tb_natmeha_file
        <set>
                <if test="dataCode != null">
                    DATA_CODE = #{dataCode,jdbcType=CHAR},
                </if>
                <if test="uploader != null">
                    UPLOADER = #{uploader,jdbcType=VARCHAR},
                </if>
                <if test="uploaderCode != null">
                    UPLOADER_CODE = #{uploaderCode,jdbcType=CHAR},
                </if>
                <if test="fileName != null">
                    FILE_NAME = #{fileName,jdbcType=VARCHAR},
                </if>
                <if test="fileType != null">
                    FILE_TYPE = #{fileType,jdbcType=VARCHAR},
                </if>
                <if test="fileSize != null">
                    FILE_SIZE = #{fileSize,jdbcType=DOUBLE},
                </if>
                <if test="filePath != null">
                    FILE_PATH = #{filePath,jdbcType=VARCHAR},
                </if>
                <if test="itemcreateat != null">
                    itemCreateAt = #{itemcreateat,jdbcType=TIMESTAMP},
                </if>
                <if test="orgCode != null">
                    ORG_CODE = #{orgCode,jdbcType=CHAR},
                </if>
        </set>
        where   itemCode = #{itemcode,jdbcType=CHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.lanqiao.natmeha.model.TbNatmehaFile">
        update tb_natmeha_file
        set 
            DATA_CODE =  #{dataCode,jdbcType=CHAR},
            UPLOADER =  #{uploader,jdbcType=VARCHAR},
            UPLOADER_CODE =  #{uploaderCode,jdbcType=CHAR},
            FILE_NAME =  #{fileName,jdbcType=VARCHAR},
            FILE_TYPE =  #{fileType,jdbcType=VARCHAR},
            FILE_SIZE =  #{fileSize,jdbcType=DOUBLE},
            FILE_PATH =  #{filePath,jdbcType=VARCHAR},
            itemCreateAt =  #{itemcreateat,jdbcType=TIMESTAMP},
            ORG_CODE =  #{orgCode,jdbcType=CHAR}
        where   itemID = #{itemid,jdbcType=INTEGER} AND itemCode = #{itemcode,jdbcType=CHAR}
    </update>

    <!--修改上传的文件-->
    <update id="updateFile" parameterType="string">
        update tb_natmeha_file set FILE_NAME = #{fileName} where itemCode=#{itemcode}
    </update>
</mapper>
