<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>省级管理员查看开展项目信息</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
    <link rel="stylesheet" th:href="@{/component/bootstrap-3.3.7/css/bootstrap.min.css}"
          href="../../static/component/bootstrap-3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"
          href="../../static/layui/css/modules/laydate/default/laydate.css"/>
    <link rel="stylesheet" th:href="@{/kindeditor/themes/default/default.css}"
          href="../../static/kindeditor/themes/default/default.css"/>
    <script th:src="@{/component/js/jquery-2.2.4.js}"
            src="../../static/component/js/jquery-2.2.4.js"></script>
    <script th:src="@{/component/bootstrap-3.3.7/js/bootstrap.min.js}"
            src="../../static/component/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script th:src="@{/layui/layui.js}"
            src="../../static/layui/layui.js"></script>
    <!--文本编辑器-->
    <script charset="utf-8" th:src="@{/kindeditor/kindeditor-all.js}"
            src="../../static/kindeditor/kindeditor-all-min.js"></script>
    <script charset="utf-8" th:src="@{/kindeditor/lang/zh-CN.js}"
            src="../../static/kindeditor/lang/zh-CN.js"></script>
    <style>
        /*清除边框*/
        *{
            margin: 0;
            padding: 0;
        }
        /*更改默认值*/
        html,body{
            width: 100%;
            height: 100%;
        }
        input{
            width: 240px;
            height: 32px;
        }
        button{
            width: 102px;
            height: 31px;
            background-color:rgba(217, 0, 27, 1);
        }
        p,button{
            text-align: center;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="col-md-12 column">
        <form class="layui-form" action="/start/item_provincialclerk_back" lay-filter="example" style="margin-top: 20px" method="post">
            <div class="layui-form-item">
                <label class="layui-form-label">开展项目名称</label>
                <div class="layui-input-block">
                    <input type="text" name="name" readonly="readonly" th:value="${tbNatmehaProject.name}" lay-verify="title" autocomplete="off" placeholder="请输入" class="layui-input" style="width: 300px">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">图片</label>
                <div class="layui-input-block">
                    <!--<input type="file" hidden="hidden" name="file" onchange="imgfile(this)" accept="image/gif,image/jpeg, image/png, image/jpg">-->
                    <!--<img th:src="@{http://114.55.92.180/portals/images/ffilepackge/{image}(image=(${tbCulproChineseCultural.tbCulproFile}==null?'':${tbCulproChineseCultural.tbCulproFile.fileName}))}"  id="demo1" width="100%" height="100%">-->
                    <img th:src="@{http://localhost/portals/images/{image}(image=(${tbNatmehaProject.tbNatmehaFile}==null?'':${tbNatmehaProject.tbNatmehaFile.fileName}))}"  id="demo1" width="200px" height="100px">
                </div>
            </div>

            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">开展项目简介</label>
                <div class="layui-input-block">
                    <textarea  type="text" name="content" th:text="${tbNatmehaProject.content}" style="height: 130px;width: 60%" onblur="get('')" class="layui-input" ></textarea>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <p><button type="submit" name="reset" value="取消" class="layui-btn layui-btn-normal" id="LAY-component-form-setval">取消</button></p>
                    <!--<button type="submit" name="savebtn" value="保存" class="layui-btn layui-btn-normal" id="LAY-component-form-getval">保存</button>-->
                    <!--<button type="submit" name="putbtn" value="立即提交" class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>-->
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    KindEditor.ready(function(K) {
        window.editor = K.create('#hotspotContent');
    });

</script>
</body>
</html>